@the-purple:            #9D0A9D;
@dark-purple:           #470147;

@holy-red:              #ED0F1A;
@dusty-red:             #913E42;
@pale-pink:             #FFE6E7;

@crazy-blue:            #401CA5;
@dark-blue:             #16034B;
@light-blue:            #C4B6ED;
@darkerish-blue:        #428bca;


@font-face {
        font-family: 'coconutpoinnt';
        src: url('/static/fonts/coconut-poinnt.otf') format("opentype");
        font-weight: normal;
        font-style: normal;

}

#gradient {

  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
}

  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
  }

}


body {

  color: @pale-pink;

  #gradient > .vertical(@dark-purple, @light-blue);
    padding-top: 0;
  font-family: Tahoma;
  background-color: @dark-blue;

  .active {
    color: @holy-red;
    font-weight: bold;
  }

}

#page-wrapper {
  margin:auto;
  width:1140px;
}


h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  color: @holy-red;
  a {
    color: @darkerish-blue;
  }
}

a {
  color: @dark-blue;
}

.form-group > input[type="text"], .form-group > input[type="password"], .form-group > input[type="datetime"], .form-group > input[type="datetime-local"], .form-group > input[type="date"], .form-group > input[type="month"], .form-group > input[type="time"], .form-group > input[type="week"], .form-group > input[type="number"], .form-group > input[type="email"], .form-group > input[type="url"], .form-group > input[type="search"], .form-group > input[type="tel"], .form-group > input[type="color"], .form-group > select, .form-group > textarea {
  background-color: @pale-pink;
}

.post-meta {
  a {
    color: @the-purple;
  }
}

.navbar-default {
  background-image: none;
  background-color:@dark-purple;
  position:fixed;
  bottom:0;
  top: auto;
  margin-bottom:0;
  border:none;
  box-shadow:none;

  .navbar-brand, .navbar-nav > li > a, a {
    color: @light-blue;
  }

  .navbar-nav > .active > a {
    color: white;
  }

  .navbar-header {
    width:100%;
  }

  .navbar-text {
    font-size: 15px;
    line-height: 100%;
    margin: 10px 20px 0 5px;
    padding: 0;
    font-style: normal;
  }
  #twitter-handles {
    float:left;
    margin-top:10px;

    a {
      color:@crazy-blue;
      font-size:1.3em;
      text-shadow: 1px 3px 9px @pale-pink;
      margin-left:10px;
    }
    a.hover {
      color:@pale-pink;
    }
  }

  .navbar-form {
    float:right;
    margin-right:10px;
  }
}

.panel {
  background-color: @light-blue;
  border-color: @dusty-red;
  border-style: groove;
  border-width: 2px;
  }

.tree {

  .active > a {
    background-color: @holy-red;
  }

  li > a:hover {
    background-color: @pale-pink;
  }
}


.banner {
  text-align: center;

  #banner-image {
    opacity:0.7;
    height:650px;
  }

  #banner-title {
      font-family: coconutpoinnt;
      color: #FFFFFF;
      top:0px;
      line-height: .9em;
      text-shadow: 4px 4px @dark-purple;
      position: fixed;
      height:0;
      text-align:center;
      width: 1140px;
      opacity: 0.7;
  }

}

.left {
  padding-left: 0;
}



#top-content-container {
  margin-top:0px;
}

.sticky-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#banner-title.banner-sticky-top {
    background-color: @light-blue;
    left: 0;
    padding-left: 32px;
    padding-top: 10px;
    position: fixed;
    top: 50px;
    width: 100%;
}

#top-content-container.top-container-offset {
    margin-top:400px;
}

.form-actions {
  background-color: @light-blue;
  border-top: 0px;
}

footer {
  background: none;
  border-top: @the-purple;

    .site-info {
        margin-bottom: 25px;
        margin-top: 25px;
      }
  }
