@the-purple:            #9D0A9D;
@dark-purple:           #470147;

@holy-red:              #ED0F1A;
@dusty-red:             #913E42;
@pale-pink:             #FFE6E7;

@crazy-blue:            #401CA5;
@dark-blue:             #16034B;
@light-blue:            #C4B6ED;


@font-face {
        font-family: 'coconutpoinnt';
        src: url('http://localhost:8383/static/fonts/coconut-poinnt.otf') format("opentype");
        font-weight: normal;
        font-style: normal;

    }

#gradient {

  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
  }

  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
  }

}


body {
  padding-top: 0;
}

h1, .h1 {
  color: @dark-purple;
  font-family: coconutpoinnt;
  font-size: 5em;
  margin: 0 0 -17px;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  color: @holy-red;
}

a {
  color: @dark-blue;
}

.form-group > input[type="text"], .form-group > input[type="password"], .form-group > input[type="datetime"], .form-group > input[type="datetime-local"], .form-group > input[type="date"], .form-group > input[type="month"], .form-group > input[type="time"], .form-group > input[type="week"], .form-group > input[type="number"], .form-group > input[type="email"], .form-group > input[type="url"], .form-group > input[type="search"], .form-group > input[type="tel"], .form-group > input[type="color"], .form-group > select, .form-group > textarea {
  background-color: @pale-pink;
}

.breadcrumb {
  #gradient > .vertical(@the-purple, @dark-blue);

  a {
    color: white;
  }

  .active {
    color: @holy-red;
    font-weight: bold;
  }

}

.post-meta {
  a {
    color: @the-purple;
  }
}

#page-wrapper {
  position:relative;
  margin-top: 449px;
  background-color: @light-blue;
}


.navbar-default {
  position:static;
  #gradient > .vertical(@the-purple, @dark-blue);
      .navbar-brand, .navbar-nav > li > a, a {
        color: @light-blue;
      }

      .navbar-nav > .active > a {
        #gradient > .vertical(@pale-pink, @dark-blue);
        color: white;
      }
  }

.panel {
  background-color: @light-blue;
  border-color: @dusty-red;
  border-style: groove;
  border-width: 2px;
  }

.tree {

  .active > a {
    background-color: @holy-red;
  }

  li > a:hover {
    background-color: @pale-pink;
  }

}

.sticky-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}