@font-face {
  font-family: 'coconutpoinnt';
  src: url('/static/fonts/coconut-poinnt.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merula';
  src: url('/static/fonts/Merula Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #ffe6e7;
  background-image: linear-gradient(to bottom, #470147 0%, #c4b6ed 100%);
  background-repeat: repeat-x;
  padding-top: 0;
  font-family: Merula;
  background-color: #16034b;
}
body .active {
  color: #ed0f1a;
  font-weight: bold;
}
#page-wrapper {
  margin: auto;
  text-shadow: 0.3px 0.3px black;
  transition: color 0.8s ease 0s;
  width: 1140px;
  color: #FCAC5B;
}
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Merula;
  color: #ed0f1a;
}
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: #428bca;
}
a {
  color: #16034b;
}
.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
  background-color: #ffe6e7;
}
.post-meta a {
  color: #9d0a9d;
}
.entry-content {
  font-family: sans;
  font-size: 14px;
}
.navbar-default {
  background-image: none;
  background-color: #470147;
  position: fixed;
  bottom: 0;
  top: auto;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default a {
  color: #c4b6ed;
}
.navbar-default .navbar-nav > .active > a {
  color: white;
}
.navbar-default .navbar-header {
  width: 100%;
}
.navbar-default .navbar-text {
  font-size: 15px;
  line-height: 100%;
  margin: 10px 20px 0 5px;
  padding: 0;
  font-style: normal;
}
.navbar-default #twitter-handles {
  float: left;
  margin-top: 10px;
}
.navbar-default #twitter-handles a {
  color: #401ca5;
  font-size: 1.3em;
  text-shadow: 1px 3px 9px #ffe6e7;
  margin-left: 10px;
}
.navbar-default #twitter-handles a.hover {
  color: #ffe6e7;
}
.navbar-default .navbar-form {
  float: right;
  margin-right: 10px;
}
.panel {
  background: transparent;
  border-width: 0px;
}
.tree .active > a {
  background: transparent;
}
.tree li > a:hover {
  background: transparent;
}
.banner {
  text-align: center;
}
.banner #banner-image {
  opacity: 0.7;
  height: 650px;
}
.banner #banner-title {
  font-family: coconutpoinnt;
  color: #FFFFFF;
  top: 0px;
  line-height: .9em;
  text-shadow: 4px 4px #470147;
  position: fixed;
  height: 0;
  text-align: center;
  width: 1140px;
  opacity: 0.7;
}
.left {
  padding-left: 0;
}
#top-content-container {
  margin-top: 0px;
}
.sticky-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
#banner-title.banner-sticky-top {
  background-color: #c4b6ed;
  left: 0;
  padding-left: 32px;
  padding-top: 10px;
  position: fixed;
  top: 50px;
  width: 100%;
}
#top-content-container.top-container-offset {
  margin-top: 400px;
}
.form-actions {
  background-color: #c4b6ed;
  border-top: 0px;
}
footer {
  background: none;
  border-top: #9d0a9d;
}
footer .site-info {
  margin-bottom: 25px;
  margin-top: 25px;
}
