/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'futurism';
  src: url('/static/fonts/ace_futurism.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coconutpoinnt';
  src: url('/static/fonts/coconut-poinnt.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merula';
  src: url('/static/fonts/Merula Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Postamt';
  src: url('/static/fonts/Postamt.ttf') format('truetype');
}
body {
  color: #ffe6e7;
  font-family: Merula;
  font-color: #80a2de;
  background-color: #470147;
  padding-top: 0;
}
body .active {
  color: #c7bfbf;
  font-weight: bold;
}
body img {
  image-orientation: from-image;
}
.middle blockquote {
  background-color: #470147;
  color: white;
}
.middle p,
.middle ol,
.middle ul,
.middle li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fcac5b;
}
.middle .aside {
  background-color: #470147;
  color: white;
  line-height: 16px;
  margin-left: 20px;
  padding: 11px;
}
.middle .highlight pre {
  font-family: Merula;
}
.middle .gallery-album {
  float: left;
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #333333));
  background: -ms-linear-gradient(bottom, #000000, #333333);
  background: -moz-linear-gradient(center bottom, #000000 0%, #333333 100%);
  background: -o-linear-gradient(#333333, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
}
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Merula;
  color: #c7bfbf;
}
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: #c7bfbf;
}
a {
  color: #c7bfbf;
}
.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
  background-color: #ffe6e7;
}
.post-meta a {
  color: #9d0a9d;
}
.navbar-default {
  background-image: none;
  background-color: #470147;
  position: fixed;
  bottom: 0;
  top: auto;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > .active > a {
  color: transparent;
}
.navbar-default a {
  color: #c7bfbf;
  hover: #80a2de;
}
.navbar-default .navbar-header {
  width: 100%;
}
.navbar-default .navbar-text {
  font-size: 15px;
  line-height: 100%;
  margin: 10px 20px 0 5px;
  padding: 0;
  font-style: normal;
}
.navbar-default #twitter-handles {
  float: left;
  margin-top: 10px;
}
.navbar-default #twitter-handles a {
  font-size: 1.3em;
  text-shadow: 1px 3px 9px #ffe6e7;
  margin-left: 10px;
}
.navbar-default #twitter-handles a.hover {
  color: #ffe6e7;
}
.navbar-default .navbar-form {
  float: right;
  margin-right: 10px;
}
.panel {
  background: transparent;
  border-width: 0px;
}
.tree .active > a {
  background: #470147;
}
.tree li > a:hover {
  background-color: transparent;
}
.thumb {
  width: 100px;
  margin: 29px;
  float: left;
}
.featured-thumb {
  width: 284px;
  margin: 31px 20px 20px;
  float: left;
}
.gallery-album img {
  width: 100%;
}
.gallery-album img {
  list-style: none;
}
.banner {
  text-align: center;
}
.banner #banner-image {
  opacity: 0.9;
  height: 650px;
}
.banner #banner-title {
  text-shadow: 3px 3px #222;
  width: 1140px;
  font-family: coconutpoinnt;
  color: #FFF;
  line-height: 0.9em;
  width: 850px;
}
.album-title {
  position: relative;
  left: 14%;
  margin: auto;
  text-align: left;
  margin-top: 20px;
}
.title-default {
  position: fixed;
  top: 0px;
  left: 50%;
  height: 0;
  margin-left: -430px;
  text-align: left;
}
.left {
  padding-left: 0;
}
#top-content-container {
  margin-top: 0px;
}
.sticky-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
#banner-title.banner-sticky-top {
  background-color: #80a2de;
  left: 0;
  padding-left: 32px;
  padding-top: 10px;
  position: fixed;
  top: 50px;
  width: 100%;
}
#top-content-container.top-container-offset {
  margin-top: 400px;
}
.form-actions {
  background-color: #80a2de;
  border-top: 0px;
}
footer {
  background: none;
  border-top: #9d0a9d;
}
footer .site-info {
  margin-bottom: 25px;
  margin-top: 25px;
}
