<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}

{# KM #}
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/kayemyles.css" %}" />
<link href="{% static "css/syntax.css" %}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

{# Gallery #}
<link rel="stylesheet" href="{% static "css/swipebox.min.css" %}">

{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}

{# KM  #}
<script src="{% static "js/less-1.7.0.js" %}" type="text/javascript"></script>

{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{# Gallery JS #}
<script src="{% static "js/jquery.swipebox.min.js" %}"></script>

<script type="text/javascript">
;( function( $ ) {

	$( '.swipebox' ).swipebox();

} )( jQuery );
</script>

{% block extra_head %}{% endblock %}

{# KM TODO: Move this to our own js file #}
<script tKayeMylesype="text/javascript">

{% if page.theme %}
heroFontSize = {{page.theme.font_size}}
{% elif blog_post.theme %}
heroFontSize = {{blog_post.theme.font_size}}
{% else %}
heroFontSize = 700
{% endif %}


function slowDecorate() {
    var timeout = 400,
    time_per_block = 550;
    var spans = $(".highlight span")
    var timeout_amount = Math.max(time_per_block / spans.length, 2);
    console.log(spans.length + " found for highlighting.")

    spans.each(function() {
        console.log(timeout);
        timeout += timeout_amount;
        var span = $(this);
        setTimeout(function() {
            span.addClass('animate');
        }, timeout)
    });
}


  $(document).ready(function() {
  bannerSize();
  textColor();

    $('#twitter-handles a').hover(
        function() {
            $(this).addClass('hover');
        }, function() {
            $(this).removeClass('hover');
        }
    );

    function bannerSize(startingSize) {
      var scrollTop = $(window).scrollTop();
      scrollRemaining = startingSize - scrollTop;
      size = (scrollRemaining / 5) - 10;
      if (size < 1) {
        size = 0  // Some browsers don't like very small or negative font sizes.
      }
      $('#banner-title').css('font-size', size + "px");
    }

    function textColor() {
      var scrollTop = $(window).scrollTop();
      var totalHeight = document.body.scrollHeight;

      if (scrollTop < (totalHeight / 2) - 200) {
        $('#page-wrapper').css('color', '#FCAC5B').css('text-shadow', '1px 1px 1px black');
      } else {
        $('#page-wrapper').css('color', '#4F2800').css('text-shadow', '0px 0px 1px #86969C');
      }

      if (scrollTop < (totalHeight / 2) - 200) {
        $('#page-wrapper a').css('color', '#C7BFBF');
      } else {
        $('#page-wrapper a').css('color', '#6166FF');
      }
      if (scrollTop < (totalHeight / 2) - 200) {
        $('h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6').css('color', '#C7BFBF');
      } else {
        $('h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6').css('color', '#593E22');
      }
    }

    $(window).scroll(function() {
      bannerSize(heroFontSize);
      textColor();
    });
  bannerSize(heroFontSize);
  slowDecorate();

});


</script>

</head>

<body id="{% block body_id %}body{% endblock %}">


{# KAYEMYLES MONKEY PATCH #}

<div id="page-wrapper">

<div class="banner">

  {% if page.theme %}
    <img id="banner-image" src="/static/media/{{page.theme.banner_image}}">
    <h1 id="banner-title" style="{{page.theme.heading_style}}" class="title-default {{page.theme}}">
  {% elif blog_post.theme %}
    <img id="banner-image" src="/static/media/{{blog_post.theme.banner_image}}">
    <h1 id="banner-title" style="{{blog_post.theme.heading_style}}" class="title-default {{blog_post.theme}}">
  {% elif album %}
    <h1 id="banner-title" class="title-default">
  {% else %}
    <img id="banner-image" src="{% static "img/ptbanner2.jpg" %}">
    <h1 id="banner-title" class="title-default">
  {% endif %}
  {% block title %}{% endblock %}</h1>

</div>

{% nevercache %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
{% endnevercache %}

<div class="container">
    <div class="row">

        <div class="col-md-2 left">
            {% block left_panel %}
            <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            {% endblock %}
        </div>

        <div class="col-md-7 middle">
            {% block main %}{% endblock %}
        </div>

        <div class="col-md-3 right">
            {% nevercache %}
            {% include "includes/user_panel.html" %}
            {% endnevercache %}
            <div class="panel panel-default">
            <div class="panel-body">
            {% block right_panel %}
            {% ifinstalled mezzanine.twitter %}
            {% include "twitter/tweets.html" %}
            {% endifinstalled %}
            {% endblock %}
            </div>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="container">
    {% page_menu "pages/menus/footer.html" %}
        <div class="row">
        <p class="site-info text-center">
            {% trans "Powered by" %}
            <a href="http://mezzanine.jupo.org">Mezzanine</a>
            {% trans "," %}
            <a href="http://www.djangoproject.com">Django</a>
            {% trans "and" %}
            <a href="https://github.com/hangarunderground/hendrix">Hendrix</a>
            {% ifinstalled mezzanine.mobile %}
            <span class="separator">|</span>
            <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
            {% endifinstalled %}
            <br>
            {% trans "Banner photograph by" %}
            <a href="https://www.flickr.com/photos/jaaaarel/">Taavi</a>
        </p>

        </div>
    </div>
</footer>

</div> {# Page Wrapper #}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {# KM #}
            <p class="navbar-text">
                <a href="/">
                    jMyles and cKaye's travel blog of <br/> passion, programming, and politics
                </a>
            </p>
            <span id="twitter-handles">
                <a class="jMyles" href="http://twitter.com/jMylesHolmes">@jMyles</a>
                <a class="cKaye" href="http://twitter.com/ckaye89">@cKaye</a>
            </span>

            {% search_form %}

            {# KM #}
        </div>
    </div>
</div>


{% include "includes/footer_scripts.html" %}


</body>
</html>
