{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ album.name }}{% endblock %}


{% block meta_description %}/webcam-pictures/{% metablock %}
  {{ page.description }}
{% endmetablock %}{% endblock %}


{% block title %}
  {% editable page.title %}{{ album.name }}{% endeditable %}
{% endblock %}


{% block main %}

<script type="text/javascript">
    {% if image_id %}
      $(function() {
        $('#image-{{image_id}}').click();
      })
    {% endif %}
</script>

<ul class="gallery-album">
{% for placement in album.placements.all %}
    <li class = "thumb {{placement.featured}}">
        <a href="{{placement.image.show_url}}" class="swipebox" title="{{placement.caption}}">
            {% if placement.featured %}
                <img src="{{placement.image.show_url}}" alt="{{placement.caption}}" id="image-{{placement.image.id}}">
            {% else %}
                <img src="{{placement.image.thumb_url}}" alt="{{placement.caption}}" id="image-{{placement.image.id}}">
            {% endif %}
        </a>
    </li>
{% endfor %}
</div>

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}