<style type="text/css">
    td.thumb {
    width: 150px;
    }

    table {
       width:100%;
    }

    img {
        height: 100px;
    }
</style>

    <form action="" method="POST">{% csrf_token %}
    {{ form_set.management_form }}
    <table>
    {% for form in form_set %}
        {{ form.non_field_errors }}
        <tr style="{% cycle 'background-color:#9D0A9D;' 'background-color: #C4B6ED;' as rowcolors %}, width:575px;">
            <td class="thumb"><img src="{{form.instance.image.thumb_url}}"/></td>
            <td>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>{{form.image_form.name}}</td>
                    </tr>
                    {{form.as_table}}
                </table>

            </td>
        </tr>

    {% endfor %}
    </table>
    <button>SAVE THESE PICTURES!  SAVE THEM!</button>
    </form>