{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}


{% block meta_description %}/webcam-pictures/{% metablock %}
  {{ page.description }}
{% endmetablock %}{% endblock %}


{% block title %}
  {% editable page.title %}{{ album.name }}{% endeditable %}
{% endblock %}


{% block main %}

<div class="gallery-album">
{% for placement in album.placements.all %}
    <a href="{{placement.image.show_url}}" class="swipebox" title="{{placement.image.name}}">
        <img class="thumb" src="{{placement.image.thumb_url}}" alt="{{placement.caption}}">
    </a>
{% endfor %}
</div>

{% endblock %}
